<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Flask Reactor - Not Found!</title>

        <script>const payload = JSON.parse('{{payload | safe}}');</script>

        <link rel="stylesheet" href="/static/styles/index.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <script type="text/javascript" src="/static/scripts/dist/gameNotFound_script.js" defer ></script>


    </head>
    <body>
        <div id="root"></div>
    </body>
</html>