<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- TODO ponder this - edit the title after page load to mention opponent name -->
        <title>Flask Reactor - Quadradius</title>
        <link rel="stylesheet" href="/static/styles/index.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        <script>
            const payload = JSON.parse('{{payload | safe}}'); // comes from Flask
        </script>

        <script type="text/javascript" src="/static/scripts/dist/quadGame_script.js"  defer ></script>
    </head>

    <body>
        <div id = "root"></div>
    </body>
</html>