<!DOCTYPE html>
<html lang="en-US">

    <head>
        <!-- TODO edit the title after page load to mention opponent name -->
        <title>Flask Reactor - Quadradius</title>
        <link rel="stylesheet" href="/frontend/styles/index.css">
        <link rel="shortcut icon" href="/frontend/favicon.ico">
        
        <script>const payload = JSON.parse('{{payload | safe}}');</script>
        <script type="text/javascript" src="/frontend/scripts/dist/roots/quadGameRoot.js" defer></script>

    </head>

    <body>
        <div id = "root"></div>
    </body>

</html>