<!DOCTYPE html>
<html lang="en-US">

    <head>
        <title>Flask Reactor - Quadradius</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/frontend/styles/index.css">
        <link rel="shortcut icon" href="/frontend/favicon.ico">
        
        <script>const payload = JSON.parse('{{payload | safe}}');</script>
        <script type="text/javascript" src="/frontend/scripts/dist/roots/quadGameRoot.js" defer></script>

    </head>

    <body>
        <div id = "root"></div>
    </body>

</html>