<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/static/styles/index.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
        

        <script>var gamestate = JSON.parse('{{ gamestate | tojson | safe}}');</script>
            
        <script type="text/jsx" src="/static/scripts/Board.js"></script>
        <script type="text/jsx" src="/static/scripts/game_script.js"></script>

        <script>
            window.onload = function(){
                const clientSocket = new WebSocket("ws://localhost:5000/websocket")

                clientSocket.onmessage = (data) => {
                    // TODO handle websocket message from server. update board or chat message.
                    console.log("Message from server: ", data);
                };

                console.log(document.body);
                document.body.onclick = function(){
                    console.log("click detected: sending message to socketServer.");
                    clientSocket.send("hello, server");
                };
            }
        </script>

    </head>

    <body>

        <div id="root"></div> <!-- react chesssboard -->

        <!-- TODO move into react -->
        <form action="/logout" method="POST">
            <input type="submit" value="Log Out">
        </form>


    </body>
</html>