<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/static/styles/index.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="/static/scripts/ReactStuff/React.js"></script>
        <script src="/static/scripts/ReactStuff/ReactDom.js"></script>
        <script src="/static/scripts/ReactStuff/Babel.js"></script>
        <script src="/static/scripts/ReactStuff/ReactIS.js"></script> <!--Do we even use this???-->
        <script src="/static/scripts/ReactStuff/StyledComponents.js"></script>
        

        <script>var gamestate = JSON.parse('{{ gamestate | tojson | safe}}');</script>

        <script>
            function clogHello(){
                console.log("Hello, world!");
            }
        </script>
            
        <script type="text/jsx" src="/static/scripts/CommonComponents.js"></script>
        <script type="text/jsx" src="/static/scripts/Board.js"></script>
        <script type="text/jsx" src="/static/scripts/game_script.js"></script>

    </head>

    <body>

        <div id="root"></div>

    </body>
</html>