<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/static/styles/index.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        <script>
            var chessGames = JSON.parse('{{games | safe}}'); // comes from Flask
            var username = "{{username}}";
            var tttGames = "";
        </script>
        
        <!-- Note: when deploying, replace react development files with production ones. -->
        <script src="/static/scripts/ReactStuff/React.js"></script>
        <script src="/static/scripts/ReactStuff/ReactDom.js"></script>
        <script src="/static/scripts/ReactStuff/Babel.js"></script>
        <script src="/static/scripts/ReactStuff/ReactIS.js"></script>
        <script src="/static/scripts/ReactStuff/StyledComponents.js"></script>

        <script type="text/jsx" src="/static/scripts/home_script.js"></script>

    </head>

    <body><div id="root"></div></body>
        
</html>