<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/static/styles/index.css">
        
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

        {% if loggedIn %}
            <script>var gamestate = JSON.parse('{{ gamestate | tojson | safe}}');</script>
            
            <script type="text/jsx" src="/static/scripts/Board.js"></script>
            <script type="text/jsx" src="/static/scripts/index_script.js"></script>
        {% endif %}
        
        
    </head>

    <body>

        {% if loggedIn %}
            <div id="root"></div>
            <form action="/logout" method="POST">
                <input type="submit" value="Log Out">
            </form>
        {% else %}
            <!-- TODO move as much of this page as possible into react code  -->
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br><br>
                <!-- <label for="lname">Last name:</label> -->
                <!-- <input type="text" id="lname" name="lname"><br><br> -->
                <input type="submit" value="Submit">
            </form>
            <form action="/signup" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br><br>
                <!-- <label for="lname">Last name:</label> -->
                <!-- <input type="text" id="lname" name="lname"><br><br> -->
                <input type="submit" value="Submit">
            </form>
        {% endif %}


    </body>
</html>