
body {
    background-color: #d69191;
}

#gamePage {
    /* position: absolute; */
}

.board {
    position: relative;
}

#logout {
    position: absolute;
}

.tile {
    width: 60px;
    height: 60px;
    position: absolute;

}

.lightTile {
    background-color: #E5D0CC;
    color: black;
}

.darkTile {    
    background-color: #412234;
    color: white;
}

