
body {
    background-color: #5ba7af;
    width: fit-content;
}

#logout {
    padding: 1%;
}

.chessRow {
    width: fit-content;
    margin-right: 0%;
}

.tile {
    width: 60px;
    height: 60px;
    position: relative;
    display: inline-block;
}

.lightTile {
    background-color: #E5D0CC;
}

.darkTile {    
    background-color: #412234;
}

.pieceImg {
    max-width: 80%;
    max-height: 80%;
    display: inline-block;
    margin-left: 10%;
    margin-top: 10%;
}

#createGameDiv {
    border: 3px solid blue;
    padding: 1em;
}

.tttCell{
    font-size: 70px;
    overflow: hidden;
    
    /* x and y centering */
    text-align: center;
    /* padding: -10px 0; */

    /* positioning */
    position: absolute;
    width: 70px;
    height: 70px;

    /* debug */
    /* border: 1px solid indianred;     */
}

.activeTttCell:hover{
    background-color: grey;
}

#octothorpe {
    position: relative;
    /* bottom: 350px;
    right: 10px; */
}

#tttBoard {
    height: 500px;
    width: 500px;
    background-color: cadetblue;
    overflow: hidden;
}