
body {
    background-color: #d69191;
}

#gamePage {
    position: absolute;
}

.board {
    position: relative;
}

#logout {
    position: relative;
    top: 485px;
}

.tile {
    width: 60px;
    height: 60px;
    position: absolute;
    display: inline-block;

}

.lightTile {
    background-color: #E5D0CC;
    color: black;
}

.darkTile {    
    background-color: #412234;
    color: white;
}

.pieceImg {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#createGameDiv {
    border: 2px solid blue
}

.tttCell{
    background-color: blue;
    font-size: 100px;
}