
body {
    margin: 0; /* overrides browser default of 8px */
    height: 100%;
    background-color: #5ba7af;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 99;
    background-color: mediumaquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headerLeft {
    position: relative;
    left: 2%;
    height: 100%;
    font-size: x-large;
    display: flex;
    align-items: center;
    white-space: pre;
}

#headerRight {
    position: relative;
    right: 3%;
    font-size: large;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

#settings {
    rotate: 0deg;
    transition: rotate 0.3s, color 0.3s;
    color: #533;
}

#settings.active {
    rotate: 60deg;
    color: #a61b1b;
}

#settingsGearSVG {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settingsGearSVG:hover {
    cursor: pointer;
}

#settingsPane {
    background-color: #f1f1f1;
    position: fixed;
    width: fit-content;
    padding: 8px;
    outline: 1px solid black;
    outline-offset: -3px;
    transition: visibility .3s, opacity .3s, top .3s;
    visibility: hidden;
    opacity: 0;
    top: 0;
    text-align: end;
}

#settingsPaneTitle {
    text-align: center;
    display: block;
    color: #002f5c;
}

#settingsWord {
    font-weight: bolder;
}

#settingsPane.active { /* whoosh */
    visibility: visible;
    opacity: 1;
    top: 10%;
}


#headerUserText {
    padding-inline: 5%;
    font-size: large;
}

#logout {
    padding: 20%;
    display: inline;
}

main {
    position: absolute;
    top: 10%;
    width: 100%; /* full width minus L/R padding */
    padding: 0 2% 0 2%;
    box-sizing: border-box;
}

main.chess {
    display: flex;
    justify-content: center;
}

#welcomeText {
    font-size: large;
}

#loginForm{
    display: inline;
}

#signupForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 18%;
    height: 200px;
    flex-wrap: wrap;
}

.signupFull {
    grid-column: 1/-1;
}

#forgotPasswordText {margin-left: 1%; text-decoration: underline;}
#forgotPasswordText:hover {background-color: #1e1e4922;}
#forgotPasswordText:active {border: 1px solid black;}

#forgotPasswordModal {
    border-radius: 10px;
    padding: 40px 40px 30px 30px;
    position: fixed;
    top: 20%;
    width: 21.5%;
    background: #b7e0ff;
    border: 1px solid black;
    text-align: justify;
    color: #1e1e49;
    font-family: Garamond, sans-serif;
    text-justify: inter-word;
    transition: left .8s cubic-bezier(0.7, -0.8, 0.5, 5.01), visibility 1s;
    visibility: hidden;
    left: -100%;
}

#forgotPasswordModal.active {
    transition: left .8s cubic-bezier(0.7, 1.05, 0.3, 1.02), visibility 1s;
    left: 30%;
    visibility: visible;
}

#forgotPasswordUsername {
    margin-right: 3px;
}

.closeX {
    position: absolute;
    top: 3%;
    right: 2%;
    padding: 0 2px 0 2px;
    font-size: 30px;
    font-family: "Lucida Console", sans-serif;
}
.closeX:hover {
    color: #a61b1b;
}

#gameDisplaysArea {
    display: flex;
    width: 100%;
}

.gameDisplay {
    width: 1fr;
    padding-right: 10%;
}

#pastTttGames {
    visibility: hidden;
}

#pastChessGames {
    visibility: hidden;
}

#pastQuadGames {
    visibility: hidden;
}

.playArea {
    margin-top: 1%;
    margin-left: 1%;
    width: fit-content;
}

#reconnectingPopUp {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    padding: 1vw 2vh 1vw 2vh;
    background-color: #DDD;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
    visibility: hidden;
    align-items: center;
}

#reconnectingPopUp.show {
    visibility: visible;
}

#reconnectingText {
    font-weight: bold;
}

#reconnectingDots {
    display: inline;
    position: relative;
    height: 30px;
    width: 30px;
    left: 10px;
}

#chessboard {
    width: fit-content;
}

.chessRow {
    font-size: 0; /* HTML has this weird spacing issue causing empty spaces, removing any font size fixes it */
}

.tile {
    width: 9vh;
    height: 9vh;
    display: inline-block;
    position: relative;
}

.lightTile {
    background-color: hsl(25, 30%, 66%);
}

.darkTile {    
    background-color: #633e07;
}

.darkHighlightedTile {
    background-color: #ca7d2a;
}

.lightHighlightedTile {
    background-color: hsl(34, 100%, 92%);
}

.pieceImg {
    width: 80%;
    height: 80%;
    display: block;
    margin: 10%;
    pointer-events: none;
}

#promotionModal {
    z-index: 100;
    position: absolute;
    width: 250px;
    height: 70px;
    border-radius: 100px;
}

.promotionModalWhite { /* black background for white pieces */
    background: #00000099;
}

.promotionModalBlack { /* white background for black pieces */
    background: #ffffff99;
}

#promotionPieceDiv {
    border-radius: 200px;
    display: inline-block;
    position: relative;
    height: 60px;
    width: 60px;
    top: 5px;
    left: 2%;
}

.promotionPieceDivWhite:hover { /* for white pieces */
    background-color: #ffffff99;
}

.promotionPieceDivBlack:hover { /* for black pieces */
    background: #00000099;
}

.promotionPiece {
    position: relative;
    left: 15%;
    top: 15%;
    height: 70%; /* proportionate to nearest absolute parent */
    width: 70%;
    opacity: 1;
    pointer-events: none;
}

#belowChessboard {
    width: 100%;
    position: relative;
    padding-right: 5%;
    padding-top: 4%;
    padding-left: 5%;
    display: flex;
    box-sizing: border-box;
    text-align: right;
    justify-content: space-between;
}

#createGameDiv {
    border: 3px solid blue;
    padding: 1em;
}

#tttBoard {
    height: 400px;
    width: 400px;
    overflow: hidden;
    position: relative;
}

#octothorpe {
    position: relative;
}

.tttCell{
    overflow: hidden;
    position: absolute;
    width: 70px;
    height: 70px;
}

.activeTttCell:hover{
    background-color: grey;
}

.quad.playArea {
    display: grid;
}

#quadboard {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    width: 800px;
    height: 640px;
    border: 3px solid black;
    grid-row: 2;
}

.quadTile {
    background-image: url('../images/quadradius/tile_1.svg'); /* path is relative to this CSS file */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(200 200 200);
    position: relative;
    border: 1px solid slategray;
}

.orbSVG {
    position: absolute;
    --stop1: white;
    --stop2: black;
}

.orbSVGCore {
    cx: 47%;
    cy: 47%;
    r: 18%;
    fill: url(#orbGradient);
    stroke: lightblue;
    stroke-width: 3;
    stroke-opacity: 70%;
}

.orbSVGGlass {
    cx: 47%;
    cy: 47%;
    r: 17%;
    fill: rgb(111 153 255 / 0.2);
}

.torusDragLayer {
    height: 78px; /* (quadboard.width / 10) - 2px */
    width: 78px;
    position: fixed;
    pointer-events: none;
    z-index: 100;
    left: 0;
    top: 0;
}

.torusSVG {
    position: absolute;
    border-radius: 50%;
}

.torusSVGBody {
    fill: #8e8e8e;
    cx: 47%;
    cy: 47%;
    r: 41.5%;
    stroke: black;
    transition: fill 1s cubic-bezier(0.24, 0, 0.85, 0.1);
}

.torusSVGCore {
    cx: 47%;
    cy: 47%;
    r: 18%;
}

.torusSVGPath {
    fill: none;
    stroke: black;
    stroke-width: 5px;
}

.torusSVGPathTop {
    d: path("M 48,15 C 15,18 15,45 15,48");
}

.torusSVGPathBottom {
    d: path("M 46,79 C 79,76 79,51 79,46");
}

.torusPop {
    fill: white;
    transition: fill 0s;
}

.powerModal {
    position: absolute;
    left: 100%;
    height: 97%; /* because the torus is slightly offset from the 100% of the tile */
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.powerModalEntry {
    width: 200%;
    background-color: rgb(71 71 71 / 0.9);
    border: 1px solid navy;
    border-radius: 5px;
    padding: 1px;
    transition: background-color 0.2s ease-out;
    font-family: "Doto", sans-serif;
    font-weight: 800;
    color: #ff1f1f;
    font-size: larger;

}
.powerModalEntry:hover {
    color: lightyellow;
    background-color: #cf3030;
}

#legend {
    background-color: rgb(108 108 108 / 0.78);
    border-radius: 10px;
    padding: 10px;
    grid-column: 2;
    grid-row: 2;
    margin-left: 50px;
    font-family: "Doto", sans-serif;
    font-size: larger;
    font-weight: 800;
    color: #ff1f1f;
}

#statusBlock {
    grid-row: 3;
}

.powerListing {
    display: block;
    padding: 3px;
    border-radius: 5px;
}

.powerListing:hover {
    background-color: rgb(221 221 221 / 0.6);
}

.powerListing:active {
    background-color: #bc0000;
}

#chatbox { /* overall container */
    position: fixed;
    right: 10%;
    bottom: 0;
    width: 15%;
    height: 6%;
}

#chatbox-base {
    height: 100%;
    background-color: #DDDDDD;
    outline: 2px solid #1e1e49;
}

#chatbox-label {
    position: relative;
    width: 1fr;
    left: 10%;
    top: 25%;
}

#chatbox-indicator {
    position: absolute;
    top: 20%;
    right: 8%;
    background-color: #3333dd;
    color: white;
    text-align: center;
    width: 40%;
    border: 2px solid white;
    border-radius: 15% / 50%;
}

#chatbox-indicator:hover {
    box-shadow: 2px 2px black;
}

#chatbox-indicator:active {
    box-shadow: none;
    top: 22%;
    right: 6%;
}

/* possible improvement - make it slide up and down for show/hide */
#chatbox-text-area {
    position: absolute;
    top: -750%;
    width: 100%;
    height: 750%;
}

#chatbox-log {
    box-sizing: border-box;
    position: absolute;
    height: 90%;
    width: 100%;
    resize: none;
}

#chatbox-input{
    box-sizing: border-box;
    position: absolute;
    bottom: 0.5%;
    height: 10%;
    width: 100%;
    resize: none;
}